# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
.esphome/
secrets.yaml
.idea
src/components/sh1306_dump/__pycache__/
